.menuTable {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.menuHeading {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.menuHeading h1 {
  text-align: center;
}

.fullWidth {
  width: 100%;
}
