@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400, 700");
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$red: #fd0f0e;

// $family-sans-serif: 'Nunito',
$family-sans-serif: "Raleway", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: black;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: black;
$body-color: white;
$link-hover: white;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$table-cell-heading-color: white;
$table-background-color: black;
$table-color: white;
$table-cell-border: none;

$box-background-color: black;
$box-color: white;
$box-shadow: none;

$navbar-height: 3rem;
$navbar-background-color: black;
$navbar-item-color: $red;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $red;

$footer-background-color: black;

$tabs-link-color: $red;
$tabs-link-hover-color: white;
$tabs-link-hover-border-bottom-color: white;
$tabs-link-active-color: white;
$tabs-link-active-border-bottom-color: white;

$card-background-color: black;
$card-shadow: 0 2px 3px rgba(white, 0.1), 0 0 0 1px rgba(white, 0.1);
$card-header-color: white;
$card-color: white;

.image-gallery-image img {
  max-height: 853px;
}

.react-photo-gallery--gallery > div {
  align-items: flex-start; /* center | flex-end | etc... */
}

@import "~bulma/bulma.sass";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
