@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$red: #fd0f0e;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: black;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: black;
$body-color: white;
$link-hover: white;


$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$table-cell-heading-color: white;
$table-background-color: black;
$table-color: white;
$table-cell-border: none;

$box-background-color: black;
$box-color: white;
$box-shadow: none;

$navbar-height: 3rem;
$navbar-background-color: black;
$navbar-item-color: $red;
$navbar-item-hover-color: white;




$footer-background-color: black;

.image-gallery-image img {
  max-height: 853px;
 }

@import "~bulma/bulma.sass";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";